<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.nirantak.signal_video</string>
  <key>ProgramArguments</key>
  <array>
    <string>FULL_PATH_HERE/make.sh</string>
    <string>run</string>
  </array>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/com.nirantak/signal_video.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/com.nirantak/signal_video.stderr.log</string>
</dict>
</plist>
